
<% if !current_user.nil? and current_user.admin? %>
  <% @users.each do |user| %>
    <p>User: <%=link_to user.email, user %> Role: <%= user.role unless user.role.nil? %></p>
  <% end %>
<% end %>

<div class="container-fixed">
  <div class="row clearfix">
    <div class="col-xs-12 column">

      <div class="row clearfix">
        <div class="col-xs-12 column">
          <div class="page-header">
            <h1>
              TOWSON UNIVERSITY CYBER SECURITY SCHOLARSHIP <p><small>Protecting the horizon, byte by byte</small></p>
            </h1>
          </div>
        </div>
      </div>

      <%= render 'layouts/image_carousel' %>

    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-12 column">

        <div class="col-xs-8 column">
          <div class="row clearfix">
            <div class="col-xs-12 column">
              <h2>
                THE SCHOLARSHIP
              </h2>
              <p>
               Professor Dehlinger's won it. Professor Kaza's won it--twice. Want to join the cool club? Apply today!
             </p>
             <p>
               Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.


              </p>
            </div>
          </div>
        </div>


        <div class="col-xs-4 column">
          <div class="panel-group" id="panel-886537">
            <!-- place 3 panels here -->
            <%= render 'layouts/student_options' %>
            <%= render 'layouts/professor_options' %>

            <% if user_signed_in? && current_user.admin? %>
            <%= render 'layouts/admin_options' %>

            <% end %>
          </div>

          <img alt="140x140" src="http://lorempixel.com/140/140/" />
        </div>

    </div>


  </div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 6000
    })
  });
</script>
